/* STIL za 3d agentni simulator */

body {
    margin:0;
    overflow: hidden;

    font: 12px Arial, Verdana, sans-serif;
}

.error {
    color:#c40808;
}

#dialog-form {display:none;}
#dialog-form label, #dialog-form input { display:block; }
#dialog-form input.text { margin-bottom:12px; width:95%; padding: .4em; }
#dialog-form select { margin-bottom:12px; width:95%; padding: .2em; }
#dialog-form fieldset { padding:0; border:0; }
.ui-dialog .ui-state-error { padding: .3em; }

/* TOOLBAR STYLES ----------------------------------------------------------- */
#toolbar {
    height:42px;
    width:100%;
    position:fixed;
    top:0;

    border-top:1px solid black;
    background:#ddd;
}

#toolbar ol {
    padding:0;
    margin:0;
}
#toolbar ol.groups {
}
#toolbar ol.groups:after {
    content:'';
    display:block;
    clear:both;
}
#toolbar ol.groups li {
    float:left;
    list-style-type:none;
}
#toolbar ol.groups > li:not(:last-child) {
    border-right:2px solid #999;
}

#toolbar ol.buttons {

}
#toolbar ol.buttons li {
    float:left;
    list-style-type:none;
}
#toolbar ol.buttons li a {
    display:block;
    height:42px;
    width:45px;
}
#toolbar ol.buttons li a.on {
    background-color: #9ccd68;
}
#toolbar ol.buttons li a img {
    height:42px;
    position:relative;
    left:1px;
}
#toolbar ol.buttons li p {
    padding:0 8px;
    margin:0;
    line-height:42px;
}
#toolbar ol.buttons li title {
    display:block;
    margin:0 5px 0 5px;
    font-size:10px;
}
#toolbar ol.buttons li title:after { content:':'; }
#toolbar ol.buttons li select {
    margin:1px 5px 0 5px;
    padding:0;
}

/* LOG STYLES --------------------------------------------------------------- */
#log {
    width: 480px;
    height:320px;
    position:absolute;
    top:55px;
    left:10px;
    display:none;

    overflow-x: hidden;
    overflow-y: scroll;
    background-color:white;
    border:1px solid black;
    opacity:0.7;
}
#log > title {
    display:block;
    font: 16px Georgia, serif;
    margin: 5px 10px;
    border-bottom:1px solid #757575;
}
#log p:first-of-type {
    margin:5px 10px 2px 10px;
}
#log p {
    margin:2px 10px;
    font-size:10px;
}
#log p .time {
    color: #e55454;
}
#log p .time:after { content:'s'; color:#e55454; }
#log p title {
    display:inline;
    font-weight:bold;
}

#log p:nth-child(even) title {
    color:#0e6394;
}

/* AGENTVIEW STYLES --------------------------------------------------------- */
#agentview {
    position:absolute;
    right:0;
    padding: 50px 10px;
}

#agentview > div {
    float:right;
    width: 180px;
    height: 101px;

    margin: 5px;

    border:1px solid black;
    background-color:white;
}
#agentview > div:nth-child(odd) { clear: both; }

#agentview span.title {
    position:absolute;
    display:block;

    margin:2px 0 0 2px;

    font-size:10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px white;
}
